body {
    display: flex;
    flex-direction: column;
    }
#main {
    display: flex;
    flex-direction: row;
}
.nav-button {
    display: flex;
    flex-direction: column;
}
#header {
    display: flex;
    flex-direction: row
}